<div class="container">
  <h2>Dogs are better than cats</h2>

   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=12" height="400" width="400" /></div>
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=25" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=35" height="400" width="400" /></div>
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=54" height="400" width="400" /></div>
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=62" height="400" width="400" /></div>
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=95" height="400" width="400" /> </div>
   <div class="dogo"> <img loading="lazy" src="https://placedog.net/400/400?id=188" height="400" width="400" /></div>
   <div class="dogo"> <img loading="lazy" src="https://placedog.net/400/400?id=193" height="400" width="400" /></div>
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=119" height="400" width="400" /></div>
   <div class="dogo"> <img loading="lazy" src="https://placedog.net/400/400?id=147" height="400" width="400" /></div>
   <div class="dogo"> <img loading="lazy" src="https://placedog.net/400/400?id=169" height="400" width="400" /></div>
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=97" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=210" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=103" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=111" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=80" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=48" height="400" width="400" /></div> 
   <div class="dogo"><img loading="lazy" src="https://placedog.net/400/400?id=59" height="400" width="400" /></div> 

  </div>