.header-top{
    padding:5px 15px;
    border-bottom:1px solid #ccc;
    background: rgb(86, 14, 255);
    color: #fff;
    text-align: center;
}

.container{
    box-sizing: border-box;
    padding: 30px;
}